.projectsSection {
  margin-top: 18vh;
}
.buttonAndHeading{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}
.projectList {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.noProjects{
  height: 500px  !important;
  background-color: pink !important;
  margin-top: 100px;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border: solid black 2px;
}
.projectName {
  background-color: rgb(18, 45, 58);
  color: black;
  font-weight: bold;
  margin: 20px;
  padding: 10px;
  height: 200px;
  border-radius: 20px;
  background-image: url("/public/images/bg1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: solid #c0c0c0 1px;
}
.employeeList {
  height: 10px;
  overflow: auto;
}
.deleteAndEditButtons {
  display: flex;
  justify-content: space-between;
  margin: 15px;
}
